@tailwind base;
@tailwind utilities;
@tailwind components;

html,
body,
#root {
  @apply h-full;
}

#overlay {
  @apply invisible data-[state=open]:!visible fixed inset-0 bg-black/50 data-[state=open]:animate-in data-[state=open]:fade-in-0 z-[100];
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 25% 27%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    /* --brand: 173 80% 40%; */
    --brand: 211 100% 50%;
    --brand-foreground: 210 40% 98%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --scrollbar: 214.3 31.8% 90%;
    --scrollbar-hover: 211 100% 80%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --brand: 173 80% 40%;
    --brand-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  .scroll-disabled * {
    @apply overflow-hidden;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  b {
    font-weight: 700;
  }

  .recharts-surface {
    overflow: visible;
  }
}

@layer utilities {
  .titlecase {
    @apply lowercase first-letter:uppercase;
  }
}

@layer components {
  .btn-icon {
    @apply size-[1.125rem] align-middle;
  }
  .btn-icon.icon-start {
    @apply ml-0 mr-0;
  }

  .noscroll-bar {
    scrollbar-width: none;
  }

  .noscroll-bar::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--scrollbar)) hsl(var(--background));
  }

  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: hsl(var(--scrollbar));
    border-radius: 3px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: hsl(var(--background));
  }

  .table-xs input {
    @apply !text-xs font-semibold !p-1.5;
  }
  .table-xs th {
    @apply !text-xs !p-1.5;
  }

  .table-generic-xs td {
    @apply !text-xs !px-3 !py-2;
  }
  .table-generic-xs th {
    @apply !text-xs !px-3 !py-2;
  }

  .artificial-border::before {
    @apply z-[100] content-[""] block absolute -top-0 -translate-y-px h-0.5 bg-slate-200 left-0 right-0;
  }
  .artificial-border::after {
    @apply z-[100] content-[""] block absolute bottom-0 h-px bg-slate-200 left-0 right-0;
  }

  .tree_node {
    position: relative;
  }
  .tree_node::before,
  .tree_node::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    padding-left: 20px;
    @apply border-l;
  }

  .tree_node::before {
    height: 50%;
    @apply border-b rounded-bl-lg;
  }
  .tree_node::after {
    height: 100%;
  }
  .tree_node:last-child::after {
    height: 0%;
  }
}

.loader {
  --d: 22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: hsl(var(--brand));
  box-shadow:
    calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {
    transform: rotate(1turn);
  }
}
