.Nested_row {
  position: relative;
  color: theme('colors.slate.700');
  background-color: theme('colors.white');
  font-weight: bold;
}
.Nested_row:nth-child(even),
.Nested_row:nth-child(even):hover {
  background-color: theme('colors.white');
}
.Nested_row > td:first-child {
  padding-left: 0;
}
.Nested_row > td:first-child::before {
  content: '';
  display: block;
  height: 100%;
  width: 1px;
  background-color: theme('colors.slate.200');
  position: absolute;
  left: -30px;
  top: 0;
}
.Nested_row > td:first-child::after {
  content: '';
  display: block;
  height: 1px;
  width: 15px;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  background-color: theme('colors.slate.200');
  position: absolute;
}
